/* ==========================================================================
   Global Overrides
  ========================================================================== */
* {
  box-sizing: border-box;
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}




/* ==========================================================================
   Author's custom styles
  ========================================================================== */


/* Global
   ================================================================ */

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 1.5rem;
  color: #222;
  -webkit-font-smoothing: antialiased;
}

li {
  list-style: none;
}




/* Cards
   ================================================================ */


.gear-cards {
  width: 90%;
  margin: 0 auto;
}

.card-container {
  /*padding: 12px;*/
}

.card .gear-card-image span {
  color: #CCCCCC;
  font-family: "Source Sans Pro", serif;
  font-weight: 700;
  font-size: 28px;
}

.card .card-container p {
  display: inline-block;
  color: #FFFFFF;
  background: #3B393A;
  font-family: "Source Sans Pro", serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  border-radius: 30px;
  padding: 4px 10px;
  clear: both;
}

.card .gear-card-image {
  background: #EEEEEE;
  text-align: center;
  width: 256px;
  height: 150px;
}

.card {
  background: #B2B7B8;
  width: 256px;
  padding: 0;
  margin: 16px;
  float: left;
}




/* Headings
   ================================================================ */
h1 {
  font-family: "Bitter", serif;
  font-size: 2rem;
  color: #374243;
  line-height: 1;
  float: left;
}

.body-nav {
  padding: 56px 64px 16px 80px;
}

.body-nav h1 {
  margin: 0;
  padding: 0;
}

.body-nav-links {
  padding-top: 12px;
}

.body-nav-links a {
  color: #374243;
  text-decoration: none;
  padding: 0 15px;
}




/* Text Styles
   ================================================================ */
a:visited {
  text-decoration: none;
}

p {
  margin: 0 0 30px;
}




/* Header/Footer
   ================================================================ */
header,
footer {
  color: white;
  background-color: #374243;
}

header {
  padding: 0 32px;
}

footer {
  clear: both;
  padding: 25px 38px;
}

footer p {
  margin: 0;
}




/* Navigation
   ================================================================ */
.header-input-address {
  height: 38px;
  width: 260px;
  color: #FFFFFF;
  background: #5F6768;
  font-family: 'Lato', sans-serif;
  padding: 12px 0 12px 12px;
  margin: 13px -2px 0 0;
  border: 0;
}

.header-input-time {
  height: 38px;
  width: 160px;
  color: #FFFFFF;
  background: #5F6768;
  font-family: 'Lato', sans-serif;
  padding: 12px 0 12px 12px;
  margin: 9px -2px 0 0;
  border: 0;
}

.header-search {
  height: 38px;
  width: 100px;
  background: #079C78;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  padding: 10px 0 12px 0;
  margin: 0 0 0 1px;
  border: 0;
}

nav {
  float: right;
  padding-left: 30px;
  text-align: right;
}

nav li {
  float: left;
  text-align: center;
}

nav a {
  display: block;
  padding: 20px 15px;
}

.header-links a {
  color: #FFFFFF;
  text-decoration: none;
}

nav a:hover {
  color: #079C78;
}

header nav strong {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}




/* Buttons
   ================================================================ */
.button,
.button:visited {
  font-family: "Oswald", sans-serif;
  display: block;
  padding: 12px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #222;
  border-radius: 5px;
  background: #deece6;
  box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
}




/* Tagline
   ================================================================ */
.tagline {
  font-family: "Merriweather", serif;
  font-size: 25px;
  font-style: italic;
  line-height: 1em;
  margin: 0;
  padding: 25px;
  text-align: center;
  border-top: 1px solid #aaa;
  background-color: #deece6;
}




/* Info Sections (Call to action columns)
   ================================================================ */
.info {
  float: left;
  width: 33.333333334%;
  margin: 25px 0;
  padding: 24px 38px;
  border-right: 1px solid rgba(0,0,0,.15);
}

.info:last-of-type {
  border-right: none;
}




/* Media Queries
   ================================================================ */
@media screen and (max-width: 1020px) {

nav {
  float: none;
  padding-left: 0;
}

h1 {
  float: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
}

header nav li strong a:first-child {
  padding-left: 0;
}

.blurb {
  width: 100%;
  margin: 0 auto;
}

.banner {
  padding: 0;
}

}


/*@media screen and (max-width: 628px) {
}*/
