body {
	font-family: 'Roboto Mono', monospace;
	font-size: 11px;
	font-weight: 300;
	width: 100%;
	opacity: 1;
    transition: 1s opacity;
    margin: 0;
    padding: 0;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

ul {
	line-height: 3;
	letter-spacing: 1px;
	color: #FFF;
	z-index: 2;
}

h1 {
	color: #2a2c34;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 60px;
	text-transform: uppercase;
	letter-spacing: 7px;
	line-height: 1.2;
  	margin: 0 auto;

}

h2 {
	font-family: 'Roboto Mono', sans-serif;
	letter-spacing: 1px;
	color: #FFF;
	font-size: 18px;
	font-weight: 300;
}

h3 {
	display: inherit;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #696a6e;
	font-size: 15px;
	margin: auto;
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    transform-origin: left top 0;
}

h5 {
	font-family: 'Roboto Mono', monospace;
	font-size: 14px;
	color: #2a2c34;
	font-weight: 300;
	line-height: 1.75;
}




a {
	text-decoration: none;
	color: #FFF;
}

a:hover {
	text-decoration: none;
	color: #2a2c34;
}






/*<<-------------OFF CANVAS MENU------------->>*/

#menu {
	position: fixed;
	right: -90px;
	top: 50px;
	background-color: #FFF;
	width: 100px;
	height: 100px;
	z-index: 100;
	border: none;
	border-radius: 100%;
	-webkit-box-shadow: 17px 16px 83px 0px rgba(78,83,102,0.35);
    -moz-box-shadow: 17px 16px s83px 0px rgba(78,83,102,0.35);
    box-shadow: 17px 16px 83px 0px rgba(78,83,102,0.35);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

#container {
  position: absolute;
  width: 80%;
  height: 100%;
  background: #FFF;
  padding-top: 175px;
  padding-left: 10%;
  padding-right: 10%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#container.min {
  -webkit-transform: scale(.8) translateX(-40%);
  -moz-transform: scale(.8) translateX(-40%);
  -o-transform: scale(.8) translateX(-40%);
  -ms-transform: scale(.8) translateX(-40%);
  transform: scale(.8) translateX(-40%);
}


#menu:focus {
  outline: none;
}


#sidenav {
  position: fixed;
  right: -30%;
  top: 0;
  width: 30%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  transition: 0.5s;
}

#sidenav.open {
  right: 0;
}

.nav-items {
  font-family: 'Montserrat', sans-serif;
  color: #2a2c34;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 22px;
  font-weight: 400;
  text-align: left;
  width: 80%;
  height: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transition:all .5s ease;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.nav-items li {
  position: relative;
}

.nav-items li a {
  display: block;
  width: 100%;
  text-align: left;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 2pxs;
  text-decoration: none;
  color: #2a2c34;
  opacity: .7;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.s ease;
}

.nav-items li a:hover {
  opacity: 1;
}

#linkedin, #email, #dribbble, #medium {
	width: 30px;
	float: left;
	margin-top: 500px;
	padding-right: 10px;
	margin-bottom: 20%;
	opacity: .7;
 	-webkit-transition: 0.3s ease;
 	-moz-transition: 0.3s ease;
 	-o-transition: 0.3s ease;
  	transition: 0.s ease;
}

#linkedin:hover, #email:hover, #dribbble:hover, #medium:hover {
	opacity: 1;
}

#exButton {
	display: none;
	float: left;
	margin-left: 20px;

}

/*<<-------------DIVS------------->>*/


#description {
	float: left;
	margin-right: 50px;
	margin-bottom: 10px;
	width: 100%;
}

.title {
	float: left;
	margin-top: 15px;
	width: 100%;
  	display: inline-block;
 	align-items: flex-start;
 	transition: all .5s ease;
 	justify-content: flex-start;
}


#buttons {
	position: relative;
	width: 100%;
	float: left;
	margin-top: 40px;
	z-index: 2;
}

#work {
	position: relative;
	font-family: 'Roboto Mono', sans-serif;
	letter-spacing: 1px;
	color: #FFF;
	font-size: 18px;
	font-weight: 300;
	background-color: #2a2c34;
	width: 300px;
	height: 70px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	padding-top: 40px;
	padding-left: 40px;
	-webkit-box-shadow: 17px 16px 83px 0px rgba(78,83,102,0.35);
    -moz-box-shadow: 17px 16px s83px 0px rgba(78,83,102,0.35);
    box-shadow: 17px 16px 83px 0px rgba(78,83,102,0.35);
    transition:all .5s ease;
    border-right: 3px solid #4ff8e6;
}

#work:hover {
	color: #46d5c6;
	font-size: 30px;
	background-color: #4ff8e6;
	-webkit-box-shadow: 17px 16px 83px 0px rgba(78,83,102,0);
    -moz-box-shadow: 17px 16px s83px 0px rgba(78,83,102,0);
    box-shadow: 17px 16px 83px 0px rgba(78,83,102,0);
    transition:all .5s ease;
    border-right: 10px solid #48ddcd;
    z-index: -10;
}

#about {
	position: relative;
	font-family: 'Roboto Mono', sans-serif;
	letter-spacing: 1px;
	color: #FFF;
	font-size: 18px;
	font-weight: 300;
	background-color: #2a2c34;
	width: 300px;
	height: 70px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	padding-top: 40px;
	padding-left: 40px;
	-webkit-box-shadow: 17px 16px 83px 0px rgba(78,83,102,0.35);
    -moz-box-shadow: 17px 16px s83px 0px rgba(78,83,102,0.35);
    box-shadow: 17px 16px 83px 0px rgba(78,83,102,0.35);
    transition:all .5s ease;
    border-right: 3px solid #e91a85;
}

#about:hover {
	color: #b01967;
	font-size: 30px;
	background-color: #e91a85;
	-webkit-box-shadow: 17px 16px 83px 0px rgba(78,83,102,0);
    -moz-box-shadow: 17px 16px s83px 0px rgba(78,83,102,0);
    box-shadow: 17px 16px 83px 0px rgba(78,83,102,0);
    transition:all .5s ease;
    border-right: 10px solid #c21a71;
    z-index: -10;
}

#contact {
	position: relative;
	font-family: 'Roboto Mono', sans-serif;
	letter-spacing: 1px;
	color: #FFF;
	font-size: 18px;
	font-weight: 300;
	background-color: #2a2c34;
	width: 300px;
	height: 70px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	padding-top: 40px;
	padding-left: 40px;
	-webkit-box-shadow: 17px 16px 83px 0px rgba(78,83,102,0.35);
    -moz-box-shadow: 17px 16px s83px 0px rgba(78,83,102,0.35);
    box-shadow: 17px 16px 83px 0px rgba(78,83,102,0.35);
    transition:all .5s ease;
    border-right: 3px solid #ffa200;
}

#contact:hover {
	color: #d98b03;
	font-size: 30px;
	background-color: #ffa200;
	-webkit-box-shadow: 17px 16px 83px 0px rgba(78,83,102,0);
    -moz-box-shadow: 17px 16px s83px 0px rgba(78,83,102,0);
    box-shadow: 17px 16px 83px 0px rgba(78,83,102,0);
    transition:all .5s ease;
    border-right: 10px solid #e59203;
    z-index: -10 !important;
}

#buttons a {
	text-decoration: none;
}


/*.titletwo {
	display: inline-flex;
}
*/
.one {
	color: #4ff8e6;
}

.two {
	color: #e91a85;
}

.three {
	color: #ffa200;
}

#work:hover > .one {
	color: #46d5c6;
}

#about:hover > .two {
	color: #b01967;
}

#contact:hover > .three {
	color: #d98b03;
}

@media screen and (min-width: 651px) and (max-width: 1200px) {

#container {
	padding: 0px;
	padding-top: 75px;
	width: 100%;
	height: 100%;
	background: #FFF;
}

#description {
	float: left;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 20px;

}

.titletwo {
	float: left;
	margin-top: 15px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
  	display: inline-block;
 	transition: all .5s ease;
 	margin-bottom: 25px;
}

#buttons {
	position: relative;
	display: inline-block;
	float: left;
	width: 80%;
	z-index: 0;
	margin-bottom: 50px;
	margin-left: 10%;
	margin-right: 10%;
}

#work {
	width: 100%;
	margin: 0;
	margin-bottom: 20px;
	float: left;
}

#about {
	width: 100%;
	margin: 0;
	margin-bottom: 20px;
	float: left;
}

#contact {
	width: 100%;
	margin: 0;
	float: left;
}

h1 {
	font-size: 50px;
}



	}



@media screen and (min-width: 0px) and (max-width: 650px) {

#container {
	padding: 0px;
	padding-top: 75px;
	width: 100%;
	height: 100%;
	background: #FFF;

}

#description {
	float: left;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 20px;

}

#buttons {
	position: relative;
	display: inline-block;
	float: left;
	width: 100%;
	z-index: 0;
	margin: 0px;
}

.titletwo {
	float: left;
	margin-top: 15px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
  	display: inline-block;
 	transition: all .5s ease;
 	margin-bottom: 70px;
}

#work {
	width: 100%;
	margin: 0;
	float: left;
}

#about {
	width: 100%;
	margin: 0;
	float: left;
}

#contact {
	width: 100%;
	margin: 0;
	float: left;
}

h1 {
	font-size: 40px;
}



	}


