*{
  /* 1. Add box-sizing: border-box; to everything. HINT: Reference slides for what to put here. */
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

header, footer {
  height: 60px;
  border: 1px solid black;
}

aside img {
	max-width: 100%;
}

/*----------------------------------------------
  C O L U M N   L A Y O U T
------------------------------------------------*/

#main {
  /* 2. Give a width to each column*/
  width: 75%;
  /* 3. Float each column to left*/
  float: left;
  /* 4. Use padding to add space between columns*/
  padding-right: 25px;
}

aside {
  /* 5. Give a width to each column*/
  width: 25%;
  /* 6. Float each column to left*/
  float: left;
}

/* 7. Clear anything underneath your columns i.e. a footer */
footer {
  background: #F8CE78;
}
